<div class="row">
    <div *ngFor="let distributor of distributors" class="col-sm-12 col-md-6 col-lg-4">
        <nz-card class="my-2 card-distributor">
            <div class="row">
                <div class="col-md-4">
                    <nz-avatar class="my-2" [nzSize]="80" nzIcon="user" nzSrc="../../../assets/images/distributor.svg"></nz-avatar>
                </div>
                <div class="col-md-8">
                    <div class="row row-info">
                        <div class="col-md-1 icon-info">
                            <i style="cursor: pointer;" nz-icon nzType="info-circle" [nzTwotoneColor]="'#FE5366'" nzTheme="twotone" data-toggle="modal" data-target="#modalInfoDistributor"></i>
                        </div>
                    </div>
                    <div class="row row-name">
                        <div class="col-md-12">
                            <p class="name-distributor">{{distributor.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-data">
                <div class="col-md-4 status-info">
                    <nz-tag class="mt-3" nzColor="success">{{distributor.status}}</nz-tag>
                </div>
                <div class="col-md-8 row-phone">
                    <p class="phone-distributor">{{distributor.phone}}</p>
                    <img style="cursor: pointer;" src="../../../assets/images/wsp.svg" alt="Whatsapp">
                </div>
            </div>
        </nz-card>
    </div>
</div>
<!-- MODALES -->
<app-modal-info-distributor></app-modal-info-distributor>