<div class="modal fade" style="background-color: rgba(0,0,0,0.6);" id="modalInfoDistributor" tabindex="-1" role="dialog" aria-labelledby="modalInfoDistributorTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content modal-distributor px-2">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #FE5366;" aria-hidden="true">&times;</span>
                </button>
                <div class="justify-content-center">
                        <nz-avatar class="my-2" [nzSize]="140" nzIcon="user" nzSrc="../../../assets/images/distributor.svg"></nz-avatar>
                </div>
                <div class="row my-1">
                    <div class="col-md-12">
                        <p class="name-distributor">Franz Marcelo Carhuaricra</p>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-12">
                        <p class="name-distributor">DNI: 74252422</p>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-12 d-flex justify-content-center">
                        <p class="phone-distributor">940986845</p>
                        <img style="cursor: pointer;" src="../../../assets/images/wsp.svg" alt="Whatsapp">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-12 d-flex justify-content-center align-items-baseline">
                        <p class="contract-distributor">Ver contrato</p>
                        <i style="cursor: pointer; font-size: 24px;" nz-icon nzType="file-text" [nzTwotoneColor]="'#FE5366'" nzTheme="twotone"></i>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 d-flex justify-content-center">
                        <i style="cursor: pointer; font-size: 30px;" nz-icon nzType="delete" [nzTwotoneColor]="'#FE5366'" nzTheme="twotone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>