<div class="modal fade" style=" background-color: rgba(0,0,0,0.6);" id="modal_attend_order" tabindex="-1" role="dialog" aria-labelledby="modal_attend_order"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-container">
          <!-- BODY -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="color: #FE5366;" aria-hidden="true">&times;</span>
                </button>
                <!-- ROW 1 -->
                    <!-- TITLE -->
                    <div class="row mt-4">
                      <div class="col-md-12">
                        <h5 class="title">Elige un Repartidor</h5>
                      </div>
                    </div>
                <!-- ROW 2 -->
                    <div class="row mt-4 mx-1">
                      <!-- RIGHT -->
                      <div class="col-md-6 ">
                        <div class="list-group" id="list-tab" role="tablist">
                          <a class="list-group-item list-group-item-action active" id="item-1-i" data-toggle="list" href="#item-1" role="tab" aria-controls="home">Franz Carhuaricra</a>
                          <a class="list-group-item list-group-item-action" id="item-2-i" data-toggle="list" href="#item-2" role="tab" aria-controls="profile">Diego Tueros</a>
                          <a class="list-group-item list-group-item-action" id="item-3-i" data-toggle="list" href="#item-3" role="tab" aria-controls="messages">Carlos Yaringaño</a>
                          <a class="list-group-item list-group-item-action" id="item-4-i" data-toggle="list" href="#item-4" role="tab" aria-controls="settings">Carlos Rodriguez</a>
                        </div>
                      </div>
                      <!-- LEFT -->
                      <div class="col-md-6">
                        <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active mt-4" id="item-1" role="tabpanel" aria-labelledby="item-1-i">
                            <!-- Number -->
                              <div class="row distributor_number_container">
                                <p class="distributor_number mb-0">961412311</p>
                                <img class="whatsapp ml-2" src="../../../assets/images/wsp.svg" alt="Whatsapp">
                              </div>
                              <!-- btn -->
                              <div class="row mt-2 btn_contactar_container">
                                  <button id="btn_contactar" class="boton btn btn-primary" nz-button nzType="submit">Contactar</button>
                              </div>
                          </div>
                          <div class="tab-pane fade mt-4" id="item-2" role="tabpanel" aria-labelledby="item-2-i">
                              <!-- Number -->
                              <div class="row distributor_number_container">
                                <p class="distributor_number mb-0">931324312</p>
                                <img class="whatsapp ml-2" src="../../../assets/images/wsp.svg" alt="Whatsapp">
                              </div>
                              <!-- btn -->
                              <div class="row mt-2 btn_contactar_container">
                                  <button id="btn_contactar" class="boton btn btn-primary" nz-button nzType="submit">Contactar</button>
                              </div>
                          </div>
                          <div class="tab-pane fade mt-4" id="item-3" role="tabpanel" aria-labelledby="item-3-i">
                              <!-- Number -->
                              <div class="row distributor_number_container">
                                <p class="distributor_number mb-0">931144353</p>
                                <img class="whatsapp ml-2" src="../../../assets/images/wsp.svg" alt="Whatsapp">
                              </div>
                              <!-- btn -->
                              <div class="row mt-2 btn_contactar_container">
                                  <button id="btn_contactar" class="boton btn btn-primary" nz-button nzType="submit">Contactar</button>
                              </div>
                          </div>
                          <div class="tab-pane fade mt-4" id="item-4" role="tabpanel" aria-labelledby="item-4-i">
                              <!-- Number -->
                              <div class="row distributor_number_container">
                                <p class="distributor_number mb-0">987651317</p>
                                <img class="whatsapp ml-2" src="../../../assets/images/wsp.svg" alt="Whatsapp">
                              </div>
                              <!-- btn -->
                              <div class="row mt-2 btn_contactar_container">
                                  <button id="btn_contactar" class="boton btn btn-primary" nz-button nzType="submit">Contactar</button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</div>


