<!--<button type="button" id="buttoncito" class="btn btn-primary" data-toggle="modal" data-target="#confirmationdelete">
    Confirmación de borrado
  </button>-->

<!-- Modal -->
<div class="modal fade" id="confirmationdelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content" id="modal-content">

            <i nz-icon [nzType]="'delete'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#FE5366'" id="check-circle"></i>
            <h5 class="modal-title" id="title">¿Quieres Eliminar?</h5>
            <h6 id="description">El producto será eliminado de su tienda.</h6>
            <button type="button" id="buttonCancel" class="btn btn-secondary" data-dismiss="modal" data-dismiss="modal">Cancel</button>
            <button type="button" id="buttonOk" class="btn btn-primary">SÍ</button>

        </div>
    </div>
</div>